.container-home {
    display: flex;
}

.container-presentation {
    display: flex;
    flex-direction: column;
    margin-left: 8rem;
}

.presentation {
    margin-top: 10rem;
    margin-left: 1.5rem;
}

.presentation h1 {
    font-size: 5rem;
    margin-bottom: 1rem;
}

.presentation p {
    font-size: 2rem;
    font-weight: 700;
}

.presentation p:nth-child(1) {
    text-transform: uppercase;
}

.container-search {
    margin-top: 2rem;
}

.image-presentation {
    width: 39%;
    margin-top: 2rem;
}

