.container-home {
    display: flex;
}

.container-presentation {
    display: flex;
    flex-direction: column;
    margin-left: 10rem;
}

.image-presentation {
    width: 30%;
    margin-left: 8rem;
}

