nav {
    background-color: red;
    width: 100%;
    height: 7rem;
    top: 0;
    position: fixed;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;;
    background-color: blue;
    width: 20rem;
    
}

nav ul li {
    color: black;
    list-style: none;
}