
.sidebar-container {
    padding-top: 10rem;
    margin-left: 15rem;
    display: flex;
}

.filter-group {
    display: flex;
    margin-left: 2rem;

}

.filter-group label {
    font-weight: 700;
    margin-right: 0.5rem;

}


.select-input {
    display: block;
    width: 90%; 
    padding: 0.4rem 0.5rem;
    border: 2px solid #ccc; 
    border-radius: 0.4rem;
    background-color: white;
    color: #333; 
    font-size: 1rem;
    cursor: pointer; 
    appearance: none; 
    -webkit-appearance: none;
    -moz-appearance: none; 
}