
@font-face {
  font-family: "intertight";
  src: url("./assets/fonts/InterTight-VariableFont_wght.ttf")
  format("truetype");
}

@font-face {
  font-family: "inter";
  src: url("./assets/fonts/Inter-VariableFont_slnt\,wght.ttf")
  format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  --background-white:#FFFFFF;
  --background-rose:#FF97B8;
  --background-button-icon:#FF7767;
  --background-bleu1:#DDEDFA;
  --background-bleu2:#A2CDEF;
  --background-bleu3:#72A8D6;
  --background-footer: #F5F5DC;
  --color-black:#000814;
  
  --width-footer:100%;
  --height-footer:6rem;

  --width-navbar:100%;
  --height-navbar:4rem;

  --width-header:100%;
  --height-header:45rem;

  --width-about:100%;
  --height-about:22rem;

  --width-explications:100%;
  --height-explications:25rem;

  --width-list:100%;
  --height-list:40rem;

}

body {
  font-family: "inter", sans-serif;
  padding-bottom: var(--height-footer);
  margin: 0;
  padding: 0;
  background-color: var(--background-white);
  width: 100vw;
  padding-bottom: 5rem;
}

#root {
  width: 100%;
  height: 100%;
}

h1 {
  color:var(--background-bleu3);
}


