
@font-face {
  font-family: "intertight";
  src: url("./assets/fonts/InterTight-VariableFont_wght.ttf")
  format("truetype");
}

@font-face {
  font-family: "inter";
  src: url("./assets/fonts/Inter-VariableFont_slnt\,wght.ttf")
  format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  --background-white:#f1faee;
  --background-button-icon:#e63946;
  --background-bleu1:#a8dadc;
  --background-bleu2:#457b9d;
  --background-bleu3:#1d3557;
  --color-black:#000814;

  --width-footer:100%;
  --height-footer:6rem;

  --width-navbar:100%;
  --height-navbar:4rem;

  --width-header:100%;
  --height-header:45rem;

  --width-about:100%;
  --height-about:22rem;

  --width-explications:100%;
  --height-explications:25rem;

  --width-list:100%;
  --height-list:40rem;

}

body {
  font-family: "inter", sans-serif;
  padding-bottom: var(--height-footer);
  margin: 0;
  padding: 0;
  background-color: #f1faee;
}


